$path_polices_standard : "https://static.sephirothgeek.ch/presentation/frontend/polices/standard/";
$path_polices_titre : "https://static.sephirothgeek.ch/presentation/frontend/polices/titre/";
$path_images : "https://static.sephirothgeek.ch/presentation/frontend/images/";

$background_color : rgba(0, 0, 0, 0.8);
$font-color : rgba(55, 129, 138, 1);
$link-color : lighten($font-color, 15%);
$link-hover-color : lighten($font-color, 40%);
$hover-color : rgba(100, 50, 255, 1);
$error-color : rgb(157, 0, 35);
$min-width-corps : 600px;
$min-height : 1735px;
$border_width : 20px;
$font-family-title : GothicUltraOTRegular;
$font-family : UbuntuLight, Helmet, sans-serif;
$line-height : 1.5em;
$letter-spacing : inherit;
$word-spacing : 0.17em;
$font-size : 1.1em;
$font-size-titre : 1.4em;
$input-valid-color : transparentize($font-color, 0.6);
$input-invalid-color : transparentize(lighten(invert($font-color), 40%), 0.6);
$input-border : 5px solid;
$success-color : lighten($font-color, 40%);
$default-transition-property : all;
$default-transition-duration : 400ms;
$default-transition-function : ease-in;
$default-transition-delay : false;
$text_color_select : rgba(24, 35, 37, 1);
$background_color_select : rgba(159, 185, 191, 1);
$marge_menu_gauche : 310px;
$border_standard : rgba(0, 0, 0, 0.2) solid 1px;
$marge_gauche : 30px;
$taille_texte_menu : 2.2em;
